.card {
  display: flex;
  width: 2rem;
  height: 5rem;
  background-color: #FFFFFF;
  border: 1px solid black;
  margin-left: .5rem;
  margin: .5rem 0 0 .5rem;
  /* margin: 16px; */
  padding: 4px;
}

.card-black {
  color: black;
}

.card-red {
  color: red;
}

.card-value {
  font-size: 1.1rem;
}

.card-suit {
  .font-size: .5rem;
}

.card-down {
  display: flex;
  flex-grow: 1;
  flex-flow: column nowrap;
  align-items: flex-start;
}

.card-up {
  flex-grow: 1;
  transform:rotate(-180deg);
}